body {
    background: #f5f5f5;
}

.card-custom {
    border-radius: 15px;
    padding: 20px;
    background: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.country-flag {
    width: 120px;
    border-radius: 10px;
}
